.loadingContainer {
  // height: 200px;
  text-align: center;


  padding: 80px 0;
  // background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  // .loading {
  //   margin-top: 170px;
  //   font-size: 5rem;
  //   color: $color-accent-1;
  // }
}
.ant-spin-dot {
  i {
    background-color: $color-accent-1;
  }
}