.temperaturePreviewContainer {
  padding: 12px;

  .temperaturePreviewLocation {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-accent-1;
    margin: 0;
  }

  .temperaturePreviewValue {
    font-family: $font-alliance-extrabold;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 0.2rem 0;
  }

  .temperaturePreviewDate {
    font-size: 0.9rem;
    color: $color-faded-text;
    margin: 0;
  }
}
