// ANTD
@import '~antd/dist/antd.css';

// GLOBALS
@import "./colors.scss";
@import "./fonts.scss";
@import "./text.scss";

// COMPONENTS
@import "./components/TemperaturePreview.scss";

html {
  font-size: 1rem;
}

body {
  color: $color-main-text;
  background: $color-background;
}
