// ANTD
@import '~antd/dist/antd.css';

// GLOBALS
@import "./colors.scss";
@import "./fonts.scss";
@import "./text.scss";

// COMPONENTS
@import "./components/TemperaturePreview.scss";

html {
  font-size: 1.05rem;
}

body {
  color: $color-main-text;
  background: $color-background;
}

.ant-tag {
  background: -webkit-linear-gradient($color-accent-1, rgba($color-accent-1, 80%));
  color: black;
  border-color: lighten($color-accent-1, 5%);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba($color-accent-1, 5%)
}